<p id="notice"><%= notice %></p>

<h1>후보자 관리</h1>

<%= link_to '후보자 등록', new_candidate_path %>
<p>
	후보자명은 수정 및 삭제가 불가능합니다.<br>주의해서 등록을 바랍니다.
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th>후보자명</th>
      <th>프로필사진</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
        <td><img src="<%= candidate.main_image_url %>" width="150" height="150" /></td>
        <td><%= link_to '조회', candidate %></td>
        <td><%= link_to '수정', edit_candidate_path(candidate) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

