	<li><a href="/" class="external">HOME</a></li>
	<li><a href="#about" class="external">ABOUT</a></li>
		<% if user_signed_in? %>
			<li>
				<%= link_to('내 계정',  edit_user_registration_path) %>
			</li>
			<li>
				<%= link_to('로그아웃', destroy_user_session_path, method: :delete) %>
			</li>
			<li>
				<%= link_to('맛집 관리', candidates_path) %>
			</li>
		<% else %>
			<li>
				<%= link_to('로그인', new_user_session_path)  %>
			</li>
			<li>
				<%= link_to('회원가입', new_user_registration_path)  %> 
			</li>
		<% end %>
